#!name = CaiYunPRO
#!desc = Unclokck
#!author = RuCu6
#!update = 2023-07-18 18:58

^https:\/\/biz\.cyapi\.cn\/(p\/v1\/vip_info|v2\/user) url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/break/caiyun.js

hostname = biz.cyapi.cn
